body {
    background-color: #363636;
    font-family: "Poppins";
}


.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
    margin-top: 8dvh;

    & section {
        background-color: white;
        min-height: 80dvh;
        min-width: 30%;
        border-radius: 10px;
    }
}



#header,
#body {
    padding: 20px 40px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px
}

.info-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0px 20px;
    border: 2px solid green;
    box-shadow: 1px 2px gray;
}

@media (max-width:896px) {

    .container {
        flex-direction: column;
        margin-top: 0;
    }

    .container section {
        width: 100%;
        height: auto;
    }
}

fieldset {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
    flex-wrap: wrap;
}

.field {
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.field #time-input {
    display: flex;
    gap: 5px;
    flex-wrap: nowrap;

    & input {
        width: 3rem;
    }
}

button {
    padding: 10px;
    border-radius: 3px;
    border: none;
}

button#add-button {
    background-color: rgba(0, 104, 0, 0.774);
    color: aliceblue;

}

button.del-button {
    background-color: rgb(255, 99, 99);
}

#distancia,
#ganho {
    width: 8rem;
}

button {
    cursor: pointer;
}


table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

}

#table-container {
    overflow: auto;
    max-height: 46dvh;
    /* border: 1px solid #363636; */
}

thead {
    border-bottom: 1px solid gray;
}

th,
td {
    text-align: left;
    text-wrap: nowrap;
    padding: 8px;
}



tbody tr {
    border-top: #aaaaaa 1px solid;
}


#mensagem {
    display: block;
}


@media (max-width:756px) {


    fieldset {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
        align-items: flex-start;
    }



}